<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>页面错误</title>
		<link href="/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body style="background:rgb();">
		<div style="padding-left: 36px;">
			<img src="/images/404.jpg" /><br />
		</div>
		<div style="width: 160px; height: 50px; margin: auto;">
			<a href="/index?list=2" class="btn btn-primary">返回首页</a>
		</div>
	</body>
</html>
